/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[5].use[3]!./src/app/contato/page.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.page_contactPage__acu_T {
	padding: 2rem 0;
	max-width: 40rem;
}

.page_contactPage__acu_T p {
	color: var(--muted);
	margin: 0 0 1.5rem;
}

.page_contactPage__acu_T ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}

.page_contactPage__acu_T a {
	font-weight: 600;
	font-size: 1.05rem;
}

